<mat-card>
    <mat-card-header>
        <mat-card-title>Book a ride</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet fermentum enim. Fusce placerat elit
            ac neque tristique, in tempus dui luctus. Suspendisse auctor venenatis quam, ac faucibus est ullamcorper ut.
            Cras et varius ipsum. Sed vel dui a ante consectetur hendrerit. Nam sed laoreet quam. Donec ac ex eu felis
            posuere semper. Integer cursus turpis eget elit malesuada consequat. Cras interdum convallis erat, ac
            facilisis ex feugiat vitae.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" [routerLink]="['/booking']">BOOK A RIDE</button>
    </mat-card-actions>
</mat-card>